$red: #EC4E6E;
$lightblue: #ADB9D8;
$darkblue: #35415E;

.title {
    color: $red;
    font-size: 3em;
}

.subheading {
    color: $lightblue;
    font-size: 2.5em;
    margin-top: 1vh;
}

table {
    margin-top: 1vh;
    width: 50vw;
    border-collapse: separate;
    border-spacing: 0 2vh;

    th {
        color: $lightblue;
        text-align: left;
        padding-left: 1vw;
    }

    tbody {
        background: $darkblue;

        td {
            color: white;
            padding: 1vh 1vw;
        }
    }
}

.popularSec {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;

    .popularList {
        list-style: none;
        margin-top: 1.5vh;

        .popularItem {
            display: flex;
            
            &:not(:last-child) {
                margin-bottom: 2.5vh;
            }

            .roomImg {
                width: 20vw;
            }

            .popularRoomInfo {
                margin-left: 1vw;
                color: white;

                h4 {
                    font-size: 1.75em;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    }
}