$red: #EC4E6E;
$lightblue: #ADB9D8;
$darkblue: #35415E;

.tableSec {
    width: 50vw;
    h4 {
        color: $lightblue;
        text-align: center;
        margin-top: 2vh !important;
    }

    table {
        margin-top: 1vh  !important;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 2vh;
    
        th {
            color: $lightblue;
            text-align: left;
            
            &:first-of-type {
                padding-left: 1vw !important;
            }
        }
    
        tbody {
            background: $darkblue;
    
            td {
                color: white;
                padding: 1vh 1vw !important;

                &:has(.control-btn) {
                    display: flex;
                }

                .control-btn {
                    background: none;
                    outline: none;
                    border: none;
                    color: white;
                    margin: auto !important;
                }
            }
        }
    }
}

.popularSec {
    width: 39vw;

    .popularList {
        list-style: none;
        margin-top: 1.5vh  !important;

        .popularItem {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 2.5vh  !important;
            }

            .roomImg {
                width: 20vw;
            }

            .popularRoomInfo {
                margin-left: 1vw  !important;
                color: white;

                h4 {
                    font-size: 1.75em;
                }

                p {
                    font-size: 1em;
                }
            }
        }
    }
}