$red: #EC4E6E;
$lightblue: #ADB9D8;
$darkblue: #35415E;

main:has(div.addFacility) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    h1.title {
        position: absolute;
        top: 0;
        left: 0;
    }

    form {
        display: flex;

        section {
            display: flex;
        }
    }

    div.addFacility {
        border: 2px solid $lightblue;
        padding: 40px 10px 0px 40px !important;
        width: 70%;
        max-width: 700px;
        border-radius: 20px;
        margin: auto !important;
    
        h1 {
            margin-bottom: 30px !important;
            font-size: 2em;
            color: $red
        }

        p.errMsg {
            color: $red;
            margin-bottom: 30px !important;
        }
    }
    
    #focus {
        border: 3px solid white;
        box-shadow: 0 0 10px 0 white;
        position: absolute;
        transition:
            width .2s ease,
            height .2s ease,
            left .2s ease,
            top .2s ease,
            border-radius .2s ease;
        pointer-events: none;
        z-index: 5;
        border-radius: 10px;
        display: none;
    }

    

    #previewImgLabel {
        width: max-content;
        margin: auto !important;
    
        img:hover, .fa-image:hover {
            cursor: pointer;
        }

        img {
            max-width: 44.5vw;
            object-fit: cover;
        }

        .fa-image {
            color: white;
            font-size: 20rem;
            font-family: "Font Awesome 6 Free"
        }
    }
    
    input, textarea {
        padding: 10px 15px !important;
        border-radius: 10px;
        transition: .3s ease;
        color: $darkblue;
    
        &[type=text], & {
            width: calc(100% - 30px);
            margin-bottom: 30px !important;
            background: $lightblue;
    
            &::placeholder {
                color: $darkblue;
            }
    
            &.half {
                width: calc(50% - 30px);
                float: left;
                margin-right: 30px !important;
            }
        }
    
        &[type=submit] {
            background: $lightblue;
            color: $darkblue;
            border: 2px solid $lightblue;
            width: calc(50% - 30px);
            height: 40px;
            margin: 0 30px -20px 0 !important;
            float: right;
            font-weight: 800;
            font-size: 0.7em;
            letter-spacing: 1.8pt;
            text-transform: uppercase;
            cursor: pointer;
        }

        &[type=file] {
            display: none;
        }
    
        &:focus {
            outline: 0;
        }
    }
}