#pfp {
    display: none;
}

.pfpSec {
    display: flex;
    flex-direction: column;
    height: 83vh;

    #previewImgLabel {
        width: max-content;
        margin: auto !important;
    
        img {
            width: 20rem;
            height: 20rem;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}