$red: #EC4E6E;
$darkblue: #35415E;
$lightblue: #ADB9D8;

.navbar {
    background: $darkblue;

    .navList {
        list-style: none;
        display: flex;
        width: 100vw;

        .navItem {
            padding: 1vh 1.5vw !important;
            display: flex;

            a {
                text-decoration: none;
                color: $lightblue;
                margin: auto !important;
            }

            .logo {
                color: $red;
                margin: auto 0 !important;
            }

            .navLinks {
                transition: all 0.2s ease-in-out;
                position: relative;

                &:not(.active)::before {
                    content: attr(data-item);
                    transition: all 0.2s ease-in-out;
                    color: white;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                }

                &:not(.active):hover {
                    &::before {
                        width: 100%;
                    }
                }
            }

            .active {
                color: $red;

                &.button {
                    color: $lightblue;
                }
            }

            &:has(.button) {
                background: $red;
                cursor: pointer;

                button, a.button {
                    background: none;
                    border: none;
                    color: white;

                    &:focus {
                        outline: none;
                    }
                }

                &.rightBorder {
                    border-right: black solid 1px;
                }
            }

            &.left-auto {
                margin-left: auto !important;
                border-right: black solid 1px;
            }

            .user {
                display: flex;
                margin: auto 0 !important;

                .detailsPreview {
                    display: flex;
                    flex-direction: column;

                    * {
                        margin-left: auto !important;
                        color: white;
                    }

                    .username {
                        margin-top: auto !important;
                    }

                    .role {
                        margin-bottom: auto !important;
                    }
                }

                .pfp {
                    height: 5vh;
                    width: 5vh;
                    border-radius: 5vh;
                    overflow: hidden;
                    margin-left: 1vw !important;

                    .pfpImg {
                        height: 5vh;
                        position: relative;
                        object-fit: cover;
                        transform: translateX(-50%);
                        left: 50%;
                    }
                }
            }
        }
    }
}