$red: #EC4E6E;
$lightblue: #ADB9D8;
$darkblue: #35415E;


h1.title {
    color: $red;
    font-size: 3em;
}

main {
    display: flex;
    margin: 5vh 5vw !important;
    position: relative;
    min-height: 83vh;

    section {
        width: 44.5vw;
        
        .subheading {
            color: $lightblue;
            font-size: 2.5em;
            margin-top: 1vh !important;
        }
    }

    section:last-of-type {
        margin-left: 1vw !important;
    }
}